body{
    margin: 0px;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
#footer, #footer a{
    color:darkgrey;
}
#start-text {
    width:50%;
    text-align: center;
}
#experiment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poem-pair, #results-main, #start-description{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    height: 80vh;
    width: 100vw;
}
#poem-pair{
    justify-content: space-between;
}
.poem{
    height: 100%;
    width: 50%;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poem.clickable:hover{
    border: 3px solid black;
}
.poem.review{
    background-color: lightpink;
}
.poem.review.correct{
    background-color: lightgreen;
}
.poem.review.chosen{
    border: 3px solid darkred;
}
.poem.review.chosen.correct{
    border: 3px solid darkgreen;
}
#nav-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#reviewNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
button{
    background-color: gainsboro;
    border: none;
    margin-left:5px;
    margin-right:5px;
    height: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: lightgrey;
}
#reviewNav button{
    background-color: transparent;
    color: whitesmoke;
    height: 48px;
    width: 48px;
}
#reviewNav button span {
    font-size: 48px;
}
#reviewNav button.possible span{
    color: gainsboro;
}
#reviewNav button.possible:hover span{
    color: lightgrey;
}