#experiment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poem-pair{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.poem{
    width:45%;
}
#resultsReview{
    display: flex;
    flex-direction: column;
    align-items: center;
}